/* Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to override default added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a39a6b;

}

h2,h3 {
    text-align: center;
}

p {
    font-family: 'Playfair', sans-serif;
    font-size: 100%;
    color: #3a3a3a;
    text-align: left;
    padding: 10px;
}


.hidden-heading {
    display: none;
}
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #22222281;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    text-shadow: 0px 0px 2px #492a0aa3;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 3px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;

}

.fa-solid .fa-bars {
    color: #a39a6b;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}



/*Nav toggle*/

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Introduction section */
#introduction {
    display: block;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    text-align: center;
}

#introduction>img {
    width: 100%;
    position: relative;
    border-radius: 60%;
    margin-bottom: 20px;
}

#intro-text h2 {
    font-size: 200%;
    margin: 5px 0;
}



/* Our Work section */

/* Photos */
#our-work {
    box-shadow: 1px 1px 10px 1px lightgrey;
}

#our-work h2 {
    font-size: 200%;
    display: block;
}
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
    background-color: black;
}

/* Video */
#video {
    background-color: black;
    text-align: center;
}

/* About Us Section*/
#about-us {
    padding: 10px;
    background-color: #3a3a3a;
}

#about-us h2 {
    text-align: center;
    color: #ffffff;
}

#about-us-text p {
    color: #ffffff;
    letter-spacing: 0.5px;
    font-size: 20px;
}

/* Contact Us section */
#contact-us {
    margin: 20px 10px;
}

#contact-us-form {
    border: 2px solid #a39a6b8a;
    padding: 15px; 
}

#contact-us-form h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #6b6b6b7a;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
}

button {
    justify-content: center;
}

.join-button {
    display: flex;
    align-items: center ;
    border-radius: 2px;
    background-color: #532c00;
    color: #fafafa;
    font-size: 15px;
    padding: 15px 32px;
    text-transform: uppercase;
}

/* Image beside contact form */
#contact-us img {
    display: none;
}


/* Footer */
footer {
    background-color: #535251;
    display: block;
    unicode-bidi: isolate;
}

footer h3 {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 1px darkgray;
    font-size: medium;
    margin-top: 10px;
}
#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 10px;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}


/* Media: phone screens max-width 360px*/

@media screen and (max-width: 360px){
   h1 {
    font-size: 1.5rem;
   }
   
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accomadate larger header*/
        margin-top: 79px;
    }

    /* Introduction section */
    #introduction img {
        width: 600px;
    }

    #intro-text p {
        padding-right: 30px;
        padding-left: 10px;
        font-size: 120%;
    }

    /* Our Work section */
    #photos {
        column-count: 2;
        column-gap: 0;
    }

    /* Contact Us section */
    #contact-us {
        columns: 2;
        padding: 0px 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #contact-us-form {
        position: static;
        max-width: 400px;
        left: 10%;
        top: 150px;
    }

    #contact-us img {
        display: flex;
        width: 350px;
    }
}

/* Media: screens 1140px and up*/
@media screen and (min-width:1140px) {
    #logo {
     line-height: 75px;
    } 
    
 }

/* Media: screens 1200px and up*/
@media screen and (min-width: 1200px) {
        /* Introduction section */
        #introduction {
            columns: 2;
           }
        
           #introduction img {
            column-count: 1;
            min-height: 100px;
            width: 100%;
           }

           #intro-text p {
            font-size: 18px;
           }

           /* Our Work section */
           #video iframe {
            height: 350px;
           }
}

