/* Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to override default added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: black;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a39a6b;
}

.hidden-heading {
    display: none;
}
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #22222281;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    text-shadow: 0px 0px 2px #492a0aa3;
}


#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 3px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;

}

.fa-solid .fa-bars {
    color: #a39a6b;
}

/* Navbar styles with dropdown toggle */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}



/*Nav toggle*/

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Introduction section */
#intro-div {
    display: block;
    margin: 20px 10px 10px 10px;
    padding: 10px;
}

#intro-div h2 {
    font-size: larger;
    text-align: center;
}

#intro-div img {
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 60%;
}

.introduction-text {
    font-family: 'Playfair', sans-serif;
}


/* Footer */
footer {
    background-color: #535251;
    display: block;
    unicode-bidi: isolate;
}

footer h3 {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0 0 1px darkgray;
    font-size: medium;
    margin-top: 10px;
}
#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 10px;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}


/* Media: phone screens max-width 360px*/

@media screen and (max-width: 360px){
   h1 {
    font-size: 1.5rem;
   } 
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accomadate larger header*/
        margin-top: 79px;
    }
}

/* Media: screens 1140px and up*/
@media screen and (min-width:1140px) {
   #logo {
    line-height: 75px;
   } 
}